<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bombardier Challenger 850</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bombardier Challenger 850</h1>
      
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p class="card-text">Derived from a commercial regional airliner (the 50 seat CRJ) the Challenger 850 unsurprisingly offers a huge amount of space for its price point. The cabin is comparable with size to Bombardier’s Global Express line, one of the most spacious on the market, but with much more economical performance, making it a fantastic option for large groups on shorter range trips.</p>
      <a href="" class="btn btn-primary">Book Now</a>
    </div>
  </div>   
</body>
</html>