<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dassault Falcon 900 Series</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Dassault Falcon 900 Series</h1>
          
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">Along with the Challenger line, the Falcon 900 family has proven itself a popular and successful large jet fleet over many years and incarnations. As one of the few tri-jet models it certainly turns heads, as well as offering a spacious and bright interior. The divided cabin and good range make it suitable for inter-continental flights.</p>
          <a href="" class="btn btn-primary">Book Now</a>
        </div>
      </div>   
</body>
</html>
