<header>
</header>
<!-- // This will be the first section -->
<div>
  <div class="freight-home-image">
    <img src="/resources/empty-freight.jpg" alt="freight image one" </div>
    <div class="..." id="freight-home-list-one">
      <p>
      <h1> Ship all your private freight needs! </h1>
      <ul>
        <p>
          &#10003; Complete discretion when using our services. What you ship is of no one's concern!
        </p>
        <p>
          &#10003; Customs? What Customs?!
        </p>
        <p>
          &#10003; Inventory management of your freight before departure and upon arrival!
        </p>
        <p>
          &#10003; Complete coverage of all your goods in case of an accident!
        </p>
        <button>Find Out More!</button>
      </ul>
      </p>
    </div>

  </div>
  <div>
    <div class="freight-home-image">
      <img src="/resources/plane-night.jpg" alt="freight image two" </div>
      <div class="..." id="freight-home-list-one">
      <h1>Onboard Courier (OBC)</h1>
        <p>
          Our personalized OBC service ensures your package travels the fastest and most secure way anywhere in the
          world. Our global network of professional couriers, available 24/7 are carefully selected and trained to meet
          your needs for fast, highly secure and reliable transit of goods from door to door.
        </p>
      </div>

    </div>
    <div>
      <div class="freight-home-image">
        <img src="/resources/plane-window.jpg" alt="freight image three" </div>
        <div class="..." id="freight-home-list-one">
          <p>
          <ul>
            <p>
              &#10003; Ship any time of day or night; anywhere you'd like.
            </p>
            <p>
              &#10003; Free travel to the destination you're shipping your goods. First class treatment in the cabins.
            </p>
            <p>
              &#10003; Bring a few honorable guests along with you!
            </p>
            <p>
              &#10003; And again; 100% discretion in whatever it is you're shipping! Choose (NAME)
            </p>
          </ul>
          </p>
        </div>

      </div>


      <div>
        <h1 class="quote-title">Donald Sutherland</h1>

        <p>"Never in my life, have I experienced such a high quality, professional plane service. It beats even the
          finest of first class services.
          If you need anything shipped, too... look no further than (OUR NAME WE HAVEN'T COME UP WITH)"
        </p>
      </div>


    <div>
        <h1>Pick from our selection of private freight planes; each with their own capabilities!</h1>
       {{#each freightOptions as |freightOption|}}
        {{>freight-option freightOption}}
       {{/each}}
    </div>
