<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
</header>
<div>
  <h1>Ilyhushin IL76</h1>
</div>

<div>
  <h1>About</h1>
  <p>The Ilyushin Il-76 is a multi-purpose four-engine turbofan medium to long range freighter. It was designed to
    deliver heavy machinery to remote, poorly served areas. The Il-76 has seen extensive service as a commercial
    freighter for ramp-delivered cargo, especially for outsized or heavy items unable to be otherwise carried. Because
    of its ability to operate from unpaved runways, it has been useful in undeveloped areas. Its highlight is an
    internal winch system that can pull the cargo inside with a max. weight of 10t. per piece.</p>
</div>
<div>
  <h1>DOOR WIDTH</h1>
  <p> 340 cm</p>
</div>
<div>
  <h1>DOOR HEIGHT</h1>
  <p> 340 cm</p>
</div>
<div>
  <h1>HOLD WIDTH</h1>
  <p> 340 cm</p>
</div>
<div>
  <h1>HOLD HEIGHT</h1>
  <p> 340 cm</p>
</div>
<div>
  <h1>HOLD LENGTH</h1>
  <p> 2,000 cm</p>
</div>
<div>
  <h1>MAX PAYLOAD</h1>
  <p> 46.0 t</p>
</div>

<img src = "/resources/freight-2.jpg">

</html>