<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
</header>
<div>
  <h1>Antonov AN225</h1>
</div>

<div>
  <h1>About</h1>
  <p>The AN225 is the heaviest aircraft ever built and is powered by six turbofan engines. It is the largest aircraft
    with the widest wingspan of any aircraft in operational service in the world. It is mainly used for special missions
    with extraordinary cargo with high payload and volume capability.
  </p>
</div>
<div>
  <h1>DOOR WIDTH</h1>
  <p> 640 cm</p>
</div>
<div>
  <h1>DOOR HEIGHT</h1>
  <p> 440 cm</p>
</div>
<div>
  <h1>HOLD WIDTH</h1>
  <p> 640 cm</p>
</div>
<div>
  <h1>HOLD HEIGHT</h1>
  <p> 440 cm</p>
</div>
<div>
  <h1>HOLD LENGTH</h1>
  <p> 4,300 cm</p>
</div>
<div>
  <h1>MAX PAYLOAD</h1>
  <p> 250.0 t</p>
</div>

<img src="/resources/freight-4.jpg">

</html>