<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
</header>
<div>
  <h1>ATR 42</h1>
</div>

<div>
  <h1>About</h1>
  <p>The ATR 42 is a twin-turboprop, short- to medium-haul regional airliner. The aircraft performs well at high
    altitude and in hot climates and is suitable for short runway operations. In mid-2000, ATR launched a freighter
    conversion program for both the -42 and -72, involving installing a forward freight door and modifying the cabin for
    freight.
  </p>
</div>
<div>
  <h1>DOOR WIDTH</h1>
  <p> 130 cm</p>
</div>
<div>
  <h1>DOOR HEIGHT</h1>
  <p> 156 cm</p>
</div>
<div>
  <h1>HOLD WIDTH</h1>
  <p> 217 cm</p>
</div>
<div>
  <h1>HOLD HEIGHT</h1>
  <p> 185 cm</p>
</div>
<div>
  <h1>HOLD LENGTH</h1>
  <p> 1,361 cm</p>
</div>
<div>
  <h1>MAX PAYLOAD</h1>
  <p> 5.5 t</p>
</div>

<img src="/resources/freight-4.jpg">

</html>